@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 30px;
    background-color: #0d3b66;
}

nav {
    display: flex;
    height: 100%;
    align-items: stretch;
    gap: 150px;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    background-color: #0d3b66;
    color: #9f7542;
    font-family: "Courgette", "Raleway", Helvetica;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: #3993dd;
    color: #fffcf2;
}


#logo_link {
    display: flex;
    align-items: center;
}

#logo_link img {
    height: 100px;
    width: auto;
}

body {
    background-color: #fffcf2;
}

h1 {
    Color: #0d3b66;
    font-size: 45px;
    font-family: "Courgette", "Raleway", Helvetica;
    text-align: Center;
}

#hero-msg {
    text-align: center;
}

#hero-img {
    border: 10px solid #0d3b66; 
    display: block;
    margin: auto;
    max-width: 100%;
    padding: 30px;
}

#Introduction-card {
    background-color: #0d3b66;
    width: 500px;
    height: 130px;
    padding: 10px;
    color: #fffcf2;
    font-size: large;
    text-align: center;
    margin: 60px auto 0 auto;
    font-family: "Raleway", "Courgette", Helvetica;
}

#jewelry-card {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 60px;
}

#background-info-card {
    background-color: #0d3b66;
    width: 500px;
    height: 200px;
    padding: 10px;
    color: #fffcf2;
    font-size: large;
    text-align: center;
    font-family: "Raleway", "Courgette", Helvetica;
    margin-left: 280px;
}

#purpose-info-card {
    background-color: #0d3b66;
    width: 500px;
    height: 200px;
    padding: 10px;
    color: #fffcf2;
    font-size: large;
    text-align: center;
    font-family: "Raleway", "Courgette", Helvetica;
    margin-top: 30px;
    margin-left: 450px;
}

h2 {
    Color: #0d3b66;
    font-size: 35px;
    font-family: "Courgette", "Raleway", Helvetica;
    text-align: center;
}

#get-started-msg {
    text-align: center;
    margin-top: 60px;
}

#get-started-msg a {
    background-color: #0d3b66;
    color:#9f7542;
    text-decoration: none;
    font-family: "Raleway", "Courgette", Helvetica;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

#get-started-msg a:hover {
    background-color: #3993dd;
    color: #fffcf2;
}

#footer-logo {
    display: block;
    margin: auto;
    height: 150px;
}

footer {
    background-color: #0d3b66;
    color: #fffcf2;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}


footer p {
    margin: 5px 0;
    flex: 1 1 200px;
    font-size: medium;
    font-family: "Raleway", "Courgette", Helvetica;

}

footer a {
    color: #fffcf2;
    text-decoration: none;
    font-size: medium;
    font-family: "Raleway", "Courgette", Helvetica;

}

footer a:hover {
    color: #9f7542;
}

.social {
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social img {
    width: 40px;
    height: 40px;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 10px;
  background: #0d3b66;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #9f7542;
  display: block;
  font-family: "Courgette", "Raleway", Helvetica;
}

.sidenav a:hover {
  color: #fffcf2;
}

.main {
  margin-left: 140px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#tools-grid {
    display: grid;
    grid-template-rows: 500px 500px;
}

h3 {
    color: #fffcf2;
    font-family: "Courgette", "Raleway", Helvetica;
}

p {
    color: #fffcf2;
    font-family: "Raleway", "Courgette", Helvetica;
}

#Round-nose {
    background-color: #0d3b66;
    width: 300px;
    height: 375px;
    padding-top: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 275px;
    grid-row: 1;
}

#Needle-nose {
    background-color: #0d3b66;
    width: 300px;
    height: 375px;
    padding-top: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 275px;
    grid-row: 1;
}

#three-in-one {
    background-color: #0d3b66;
    width: 300px;
    height: 500px;
    text-align: center;
    margin-top: 20px;
    margin-left: 275px;
    grid-row: 2;
}

#three-in-one img {
    padding-top: 40px;
}

#wire-cutters {
    background-color: #0d3b66;
    width: 300px;
    height: 480px;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 275px;
    grid-row: 2;
}


#Chain-and-Wire {
    background-color: #0d3b66;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

#Chain-and-Wire img {
    width: 100%;
    height: auto;
    align-self: start;
}

.text-content {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #fffcf2;
    text-align: center;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.links a {
    background-color: #9f7542;
    color: #fffcf2;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #0d3b66;
    justify-content: center;
}

.links a:hover {
    background-color: #3993dd;
}

#jump-rings {
    background-color: #0d3b66;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#jump-rings img {
    width: 100%;
    height: auto;
    align-self: start;
}

#lobster-clasps {
    background-color: #0d3b66;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#lobster-clasps img {
    width: 100%;
    height: auto;
    align-self: start;
}

#pins {
    background-color: #0d3b66;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#pins img {
    width: 100%;
    height: auto;
    align-self: start;
}

#fishhooks {
    background-color: #0d3b66;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#fishhooks img {
    width: 100%;
    height: auto;
    align-self: start;
}

.materials-header {
    margin: 80px auto;
    text-align: center;
}

.materials-header h2 {
    margin-bottom: 20px;
}

.materials-header p {
    color: #0d3b66;
    font-family: "Raleway", "Courgette", Helvetica;
}

#tip-msg {
    width: 50%;
    height: 100px;
    background-color: #0d3b66;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#materials-list {
    background-color: #0d3b66;
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#materials-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#get-started-intro p {
    color:#0d3b66;
    text-align: center;
}

#step1 {
    background-color: #0d3b66;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#step1 img {
    width: 100%;
    height: auto;
    align-self: start;
}

#step2 {
    background-color: #0d3b66;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#step2 img {
    width: 100%;
    height: auto;
    align-self: start;
    margin-top: auto;
    margin-bottom: auto;
}

#step3 {
    background-color: #0d3b66;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#step3 img {
    width: 100%;
    height: auto;
    align-self: start;
    margin-top: auto;
    margin-bottom: auto;
}

#step4 {
    background-color: #0d3b66;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#step4 img {
    width: 100%;
    height: auto;
    align-self: start;
    margin-top: auto;
    margin-bottom: auto;
}

#step5 {
    background-color: #0d3b66;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#step5 img {
    width: 100%;
    height: auto;
    align-self: start;
    margin-top: auto;
    margin-bottom: auto;
}

#step6 {
    background-color: #0d3b66;
    width: 30%;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}

#finished-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

#finished-msg h3{
    color:#0d3b66;
    text-align: center;
}
